.remark-slide-content {
  background-color: #FAFAFA;
  border-top: 80px solid #001159;
  font-size: 20px;
  font-weight: 300;
  line-height: 1.5;
  padding: 1em 2em 1em 2em
}

.title-slide .inverse .remark-slide-content {
  background-color: #FAFAFA;
}

.inverse {
  background-color: #23373B;
  text-shadow: none;
}

.blank {
  background-color: #FFFFFF;
  border-top: 5px solid #FFFFFF;
  border-bottom: 5px solid #FFFFFF;
}

.full {
  background-color: #FFFFFF;
  border-top: 0px solid;
  border-bottom: 0px solid;
}

.pull-left {
  float: left;
  width: 47%;
}
.pull-right {
  float: right;
  width: 47%;
}

.remark-slide-content > h1 {
  font-family: 'Lato';
  font-weight: normal;
  font-size: 45px;
  margin-top: -95px;
  margin-left: -00px;
  color: #FAFAFA;
}

.remark-slide-content > inverse {
width: 112px;
height: 47px;
border-bottom: 1px solid black;
position: absolute;
}

.remark-slide-content > h2 {
  padding-top: -15px;
  padding-bottom: 00px;
  color: #272822;
  text-shadow: none;
  font-weight: 400;
  font-size: 35px;
  text-align: left;
  margin-left: 00px;
}

.remark-slide-content > h3 {
  padding-top: -15px;
  padding-bottom: 10px;
  color: #272822;
  text-shadow: none;
  font-weight: 400;
  font-size: 30px;
  text-align: left;
  margin-left: 00px;
}

.title-slide {
  background-color: #FAFAFA;
  border-top: 80px solid #FAFAFA;
}

.title-slide > h1  {
  color: #001159;
  font-size: 40px;
  text-shadow: none;
  font-weight: 800;
  text-align: left;
  margin-left: 15px;
  padding-top: 80px;
}
.title-slide > h2  {
  margin-top: -25px;
  padding-bottom: -20px;
  color: #001159;
  text-shadow: none;
  font-weight: 300;
  font-size: 35px;
  text-align: left;
  margin-left: 15px;
}
.title-slide > h3  {
  color: #001159;
  text-shadow: none;
  font-weight: 300;
  font-size: 25px;
  text-align: left;
  margin-left: 15px;
  margin-bottom: -30px;
}

.remark-slide-number {
  font-size: 13pt;
  font-family: 'Open Sans';
  color: #272822;
  opacity: 1;
}
.inverse .remark-slide-number {
  font-size: 13pt;
  font-family: 'Open Sans';
  color: #FAFAFA;
  opacity: 1;
}

/* turns off slide numbers for title page: https://github.com/gnab/remark/issues/298 */
.title-slide .remark-slide-number {
  display: none;
}

.remark-inline-code {
  /* background: #F5F5F5; /* lighter */
  background: #e7e8e2; /* darker */
  border-radius: 3px;
  padding: 4px;
}

